section.carousel.carousel-slider.center{
  margin-top: 2vh;
  min-height: 600px;
}

.carousel-content{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.carousel-img{
  width: 50%;
  min-height: 50%;
  margin-top: 2vh;
}

.carousel-text{
  margin-bottom: 2vh;
  color: #38052a;
}

.carousel .indicators .indicator-item {
  background-color: rgba(212, 212, 212, 0.3);
  height: 20px;
  width: 20px;
}
.carousel .indicators .indicator-item.active {
  background-color: #d32f2f;
}

img.img-icon.col.s3{
  width: 50px;
  height: 100%;
}

img.img-icon-large.col.s3{
  height: 100%;
}

input[type=text]:not(.browser-default){
  font-size: 1.5rem;
  margin: 0px;
}
input[type=tel]:not(.browser-default){
  font-size: 1.5rem;
  margin: 0px;
}

input[type=password]:not(.browser-default){
  font-size: 1.5rem;
  margin: 0px;
}

input[type=email]:not(.browser-default){
  font-size: 1.5rem;
  margin: 0px;
}

.material-icons{
  color: #757575;
}

#success{
  background-color: #fbd43b;
}

.img-container{
  padding-top: 5vh;
  height: 100%;
}

.hello-container{
  background-color: #451e36;
  padding-bottom: 5vh;
}

.activity-container{
  height: 100%;
  margin-top: 2vh;
  margin-bottom: 5vh;
}
.action-container{
  height: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

h6.green-text{
  color: #00c3a3 !important;
  font-size: 2rem;
}

.white-text{
  color: white;
}

hr{
  margin: 1vh;
}

#home{
  background-color: #38052a;
}
