section.carousel{
  margin-top: 5vh;
  min-height: 800px;
}

.carousel-content{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.carousel-img{
  width: 50%;
  min-height: 50%;
  margin-top: 5vh;
}

.carousel-text{
  margin-bottom: 2vh;
  color: #38052a;
}

.carousel .indicators .indicator-item {
  background-color: rgba(212, 212, 212, 0.3);
  height: 20px;
  width: 20px;
}
.carousel .indicators .indicator-item.active {
  background-color: #d32f2f;
}

.material-icons{
  color: #757575;
}

#success{
  background-color: #fbd43b;
}

.screen-container{
  margin-top: 30vh;
  height: 100%;
}
