<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Yape | Código</title>
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/../assets/css/main.css">
  </head>
  <body id="home">
    <section class="container-fluid">
        <div class="row img-container hello-container">
            <div class="center col s12">
              <img class="responsive-img" src="/static/assets/img/icons/happy-face.png" alt="happy face icon">
            </div>
            <div class="col s12 center right">
              <h1 class="white-text">Hola</h1>
              <span class="col s3"></span>
              <h6 class="green-text center-align col s6"><img class="prefix" src="/static/assets/img/icons/eye.png" alt="eye icon">Mostrar Saldo</h6>
              <span class="col s3"></span>
            </div>
        </div>

        <div class="row">
            <div class="col s12 valign-wrapper">
                <h4 class="col s11 white-text">ÚLTIMOS MOVIMIENTOS</h4>
                <img class="col s1" src="/static/assets/img/icons/right-arrow-circular-button.png">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col s12 valign-wrapper activity-container">
                <span class="col s1"></span>
                <img class="col s5" src="/static/assets/img/icons/icon.png" alt="cactus img">
                <span class="col s1"></span>
                <h4 class="col s4 left-align white-text">¿Aún no realizas tu primer pago?<br>Es rápido y sencillo</h4>
                <span class="col s1"></span>
            </div>
        </div>

        <div class="row">
            <div class="col s12 valign-wrapper action-container">
                <span class="col s2"></span>
                <img class="col s3" src="/static/assets/img/icons/send.png" alt="send icon">
                <span class="col s2"></span>
                <img class="col s3" src="/static/assets/img/icons/code-qr.png" alt="code-qr icon">
                <span class="col s2"></span>
            </div>
        </div>

    </section>

    <script type="text/javascript" src="./../jquery/dist/jquery.min.js" ></script>
    <script type="text/javascript" src="./../materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/app.js"></script>

  </body>
</html>
