<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Yape | Register</title>
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/../assets/css/main.css">
  </head>
  <body>
    <h1>Register</h1>

    <script type="text/javascript" src="./../jquery/dist/jquery.min.js" ></script>
    <script type="text/javascript" src="./../materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/app.js"></script>
  </body>
</html>
