<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Yape | Register</title>
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/../assets/css/main.css">
  </head>
  <body id="success">
    <section class="container">
        <div class="row screen-container">
            <div class="col s12 center-align">
                <img class="responsive-img " src="/static/assets/img/icons/check.png" alt="check">
            </div>
            <h2 class="center carousel-text">¡Bien!<br>Ahora puedes usar Yape</h2>
        </div>
    </section>

    <script type="text/javascript" src="./../jquery/dist/jquery.min.js" ></script>
    <script type="text/javascript" src="./../materialize-css/dist/js/materialize.min.js"></script>

  </body>
</html>
