<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Yape | Register</title>
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/../assets/css/main.css">
  </head>
  <body>
    <section class="container">
        <div class="row img-container">
            <div class="center col s12">
              <img class="responsive-img" src="/static/assets/img/icons/phone.png" alt="phone icon">
            </div>
            <div class="col s12 center">
              <h4>Para comenzar validaremos tu número</h4>
              <h6>Recibirás un SMS con un código de validación</h6>
            </div>
        </div>

        <div class="row">
            <form class="center col s12" id="phone-form">
                <div class="input-field row">
                    <img class="img-icon-large col s3" src="/static/assets/img/icons/phoneandnumber.png">
                    <input class="col s9" id="phone-number-input" type="tel">
                    <label for="phone-number-input" class="col s9 center"></label>
                </div>
                <div class="row">
                    <input id="termsNconditions-checkbox" type="checkbox" class="filled-in "  />
                    <label for="termsNconditions-checkbox">Acepto los<a>Términos y condiciones.</a></label>
                </div>
                <div class="row">
                  <button id="continue-regiter-btn" type="submit" href="static/views/codigo.html" class="btn amber accent-4 white-text disabled">CONTINUAR</button>
                </div>
            </form>
        </div>
    </section>

    <script type="text/javascript" src="./../jquery/dist/jquery.min.js" ></script>
    <script type="text/javascript" src="./../materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/app.js"></script>
  </body>
</html>
