<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Yape | Register</title>
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/../assets/css/main.css">
  </head>
  <body>
    <section class="container">
        <div class="row screen-container">
            <div class="center col s12">
              <img class="responsive-img" src="/static/assets/img/icons/lockone.png" alt="lockone icon">
            </div>
            <div class="col s12 center">
              <h4>Crea tu usuario Yape</h4>
              <h6>Ingresa un nombre, email y clave de usuario</h6>
            </div>
        </div>

        <div class="row">
            <form class="center col s12" id="phone-form">
                <div class="input-field row">
                  <img class="material-icons prefix" src="/static/assets/img/icons/user.png">
                  <input id="phone-number-input" type="text" class="validate">
                  <label for="phone-number-input center">Nombre</label>
                </div>
                <div class="input-field row">
                  <img class="material-icons prefix" src="/static/assets/img/icons/message-gray.png">
                  <input id="phone-number-input" type="email" class="validate">
                  <label for="phone-number-input center">Correo@ejemplo.com</label>
                </div>
                <div class="input-field row">
                  <img class="material-icons prefix" src="/static/assets/img/icons/lock.png">
                  <input id="phone-number-input" type="password" class="validate">
                  <label for="phone-number-input center">ingresa clave de 6 dígitos</label>
                </div>
                <div class="row center">
                    <p class="valign-wrapper"> Cuida esta clave como oro, es tu acceso a Yape.</p>
                </div>
                <div class="row">
                  <button id="continue-btn" type="submit" href="static/views/codigo.html" class="btn amber accent-4 white-text">CONTINUAR</button>
                </div>
            </form>
        </div>
    </section>

    <script type="text/javascript" src="./../jquery/dist/jquery.min.js" ></script>
    <script type="text/javascript" src="./../materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/app.js"></script>
    <script>
          function cargarPagina(){
              setTimeout(function(){
                location.href="views/../success.html";
              }, 3000)
            };

          $(document).ready(cargarPagina);
    </script>
  </body>
</html>
