<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Yape | Register</title>
    <link rel="stylesheet" href="../materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/../assets/css/main.css">
  </head>
  <body>
    <section class="container">
        <div class="row img-container">
            <div class="center col s12">
              <img class="responsive-img" src="/static/assets/img/icons/lockone.png" alt="lockone icon">
            </div>
            <div class="col s12 center">
              <h4>Crea tu usuario Yape</h4>
              <h6>Ingresa un nombre, email y clave de usuario</h6>
            </div>
        </div>

        <div class="row">
            <form class="center col s12" id="user-form">
                <div class="input-field row">
                    <img class="img-icon col s3" src="/static/assets/img/icons/user.png">
                    <input id="user-name-input" class="col s9 center" type="text" placeholder="Nombre">
                    <label for="user-name-input" class="col s9 center"></label>
                </div>
                <div class="input-field row">
                    <img class="img-icon col s3" src="/static/assets/img/icons/message-gray.png">
                    <input id="user-mail-input" class="col s9 center" type="email" placeholder="Correo@ejemplo.com">
                    <label for="user-mail-input" class="col s9 center"></label>
                </div>
                <div class="input-field row">
                    <img class="img-icon col s3" src="/static/assets/img/icons/lock.png">
                    <input id="user-password-input" class="col s9 center" type="password" placeholder="Ingresa clave de 6 dígitos">
                    <label for="user-password-input" class="col s9 center"></label>
                </div>
                <div class="row center">
                    <p class="col s12"> Cuida esta clave como oro, es tu acceso a Yape.</p>
                </div>
                <div class="row">
                  <span class="col s3"></span>
                  <a id="continue-user-btn" href="views/../success.html" class="col s6 btn waves-effect amber accent-4 white-text">CONTINUAR prueba</a>
                  <!-- <button id="continue-user-btn" type="submit" href="static/views/success.html" class="btn amber accent-4 white-text">CONTINUAR</button> -->
                  <span class="col s3"></span>
                </div>
            </form>
        </div>
    </section>

    <script type="text/javascript" src="./../jquery/dist/jquery.min.js" ></script>
    <script type="text/javascript" src="./../materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/app.js"></script>
    <!-- <script>
          function cargarPagina(){
              setTimeout(function(){
                location.href="views/../success.html";
              }, 3000)
            };

          $(document).ready(cargarPagina);
    </script> -->
  </body>
</html>
